@import '../variables'

@mixin max-width($width)
  @media (max-width: $width)
    @content

@mixin font-face($font-family, $url, $weight, $style)
  @font-face
    font-family: "#{$font-family}"
    src: url('/assets/fonts/#{$url}.woff2') format("woff2")
    font-weight: #{$weight}
    font-display: swap
    font-style: $style